
<ion-content class="ion-padding">
  <div class="welcome-container">
    <div class="logo-container">
      <img src="assets/vaiv.png" alt="Logo">
    </div>
    <div class="welcome-text">
      <h2>Bienvenido a VAIV</h2>
      <p>Por favor, inicia sesión o regístrate para continuar</p>
    </div>
    <div class="ion-text-center">
      <ion-button  (click)="goToLogin()">Login</ion-button>
      <ion-button  (click)="goToRegister()">Registrarse</ion-button>
    </div>

    <!-- Redes Sociales -->
    <div class="social-media-container ion-text-center">
      <p class="social-text">Síguenos en nuestras redes:</p>

      <ion-button color="secondary" fill="clear" href="https://www.facebook.com/tuempresa" target="_blank">
        <img src="assets/facebook.png" alt="Facebook" class="social-icon">
      </ion-button>

      <ion-button color="secondary" fill="clear" href="https://twitter.com/tuempresa" target="_blank">
        <img src="assets/x.png" alt="Twitter" class="social-icon">
      </ion-button>

      <ion-button color="secondary" fill="clear" href="https://www.instagram.com/tuempresa" target="_blank">
        <img src="assets/instagram.png" alt="Instagram" class="social-icon">
      </ion-button>

      <ion-button color="secondary" fill="clear" href="https://www.linkedin.com/company/tuempresa" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn" class="social-icon">
      </ion-button>

    </div>
  </div>
</ion-content>
